@import '../../variables.scss';

.slate-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: $slate-zindex;
  width: 0px;
  height: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #000000;
  &.active {
    width: 100%;
    height: 100%;
  }
}

:global(.playkit-player.has-live-plugin-overlay) {
  :global(.overlay-portal) {
    z-index: $slate-zindex - 1;
  }
}
