// overwrite player styles when live slate active
:global(.playkit-player.has-live-plugin-overlay) {
  :global(.playkit-side-panel) {
    z-index: 1;
  }
  :global(.playkit-player-gui) {
    :global(.playkit-top-bar) {
      // display upper-bar panel with plugin buttons
      visibility: visible;
      margin-top: 0;
    }
    :global(.playkit-control-play-pause) {
      // hide play button
      display: none;
    }
  }
}
