@import '../../variables.scss';

.slate-background-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offline-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  min-width: 280px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 234px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .offlineContent {
    margin: 40px;
    z-index: 1;
    .primary-text {
      margin: 0;
      color: $text-color;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
    }
    .secondary-text {
      margin-top: 16px;
      margin-bottom: 0;
      color: $text-color;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
