$text-color: #999999;
$layout-color: #000000;

.offline-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 280px;
    height: 100%;
    border-radius: 4px;
    background-color: $layout-color;
    .offline-icon {
        width: 184px;
        height: 184px;
        background-size: contain;
        background-image: url('./assets/Offline.svg');
    }
    .primary-text {
        margin: 16px 0 4px 0;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: $text-color;
    }
    .secondary-text {
        margin: 0;
        font-size: 14px;
        text-align: center;
        color: $text-color;
    }
    @media screen and (max-width: 281px) {
        .offline-icon {
          display: none;
        }
    }
}