@import '../../variables.scss';

.offline-wrapper {
  z-index: 5; // overlap spinner and replay button
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 280px;
  height: 100%;
  border-radius: 4px;
  background-color: $layout-color;
  .offline-icon {
    width: 100%;
    height: 100%;
    max-width: 184px;
    max-height: 184px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('./assets/Offline.svg');
  }
  .primary-text {
    margin: 16px 0 4px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: $text-color;
  }
  .secondary-text {
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: $text-color;
  }
}

:global {
  .playkit-player.playkit-size-ty {
    .kaltura-live__offline-icon {
      display: none;
    }
  }
}
