.live-tag {
  display: inline-block;
  margin: 4px 12px;
  padding: 3px 4px;
  opacity: 0.94;
  border-radius: 4px;
  text-align: center;
  color: var(--primary-text-contrast-color);
  font-size: 15px;
  text-transform: uppercase;
  &.preview-edge {
    background-color: var(--secondary-color);
  }
  &.live-edge {
    background-color: var(--live-color);
  }
  &.non-edge {
    background-color: var(--tone-5-color);
  }
  &.clickable {
    cursor: pointer;
  }
}
