.live-tag {
    display: inline-block;
    margin: 4px 12px;
    padding: 3px 4px;
    opacity: 0.94;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
    &.preview-edge {
        background-color: #f9a71b;;
        color: #000000;
    }
    &.live-edge {
        background-color: #da1f26;
    }
    &.non-edge {
        background-color: #666666;
    }
    &.clickable {
        cursor: pointer;
    }
}
