@import '../../variables.scss';

.live-tag {
  display: inline-block;
  margin: 4px 12px;
  padding: 3px 4px;
  opacity: 0.94;
  border-radius: $roundness-1;
  text-align: center;
  color: $primary-text-contrast-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  &.preview-edge {
    background-color: $secondary-color;
  }
  &.live-edge {
    background-color: $live-color;
  }
  &.non-edge {
    background-color: $tone-5-color;
  }
  &.clickable {
    cursor: pointer;
  }
}

:global(.playkit-seek-bar.playkit-live.live-priview .playkit-progress-bar .playkit-progress) {
  background-color: $secondary-color;
}
