@import '~@playkit-js/playkit-js-ui';

$text-color: #999999;
$layout-color: #000000;
$font-family: sans-serif;

$slate-zindex: 6; // overlap spinner and replay button

// border radius
$roundness-1: 4px;
