@import '../../variables.scss';
.no-longer-live-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5; // overlap spinner and replay button
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 280px;
  height: 100%;
  border-radius: 4px;
  background-color: $layout-color;
  font-family: $font-family;
  .icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 359px;
    .no-longer-live-icon {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      .no-longer-live-small-icon {
        display: none;
        margin: 0 auto;
      }
    }
  }
  .text-wrapper {
    position: relative;
    bottom: 58px;
    & > p {
      margin: 0;
      text-align: center;
      color: $text-color;
    }
    .primary-text {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

:global(.playkit-player.playkit-size-sm),
:global(.playkit-player.playkit-size-xs) {
  .icon-wrapper {
    max-width: 195px;
    max-height: 280px;
    .no-longer-live-big-icon {
      display: none;
    }
    .no-longer-live-small-icon {
      display: block;
    }
  }
  .text-wrapper {
    bottom: 52px;
  }
}

:global(.playkit-player.playkit-size-ty) {
  .icon-wrapper {
    display: none;
  }
  .text-wrapper {
    bottom: auto;
  }
}
